# Verification


## Fields

| Field                                                                               | Type                                                                                | Required                                                                            | Description                                                                         |
| ----------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------- |
| `State`                                                                             | [components.State](../../models/components/state.md)                                | :heavy_check_mark:                                                                  | The verification state for the document.                                            |
| `Metadata`                                                                          | [*components.VerificationMetadata](../../models/components/verificationmetadata.md) | :heavy_minus_sign:                                                                  | N/A                                                                                 |